<div>
    <h1>
        Meet the team
    </h1>
    <p>
        <strong>The FullStack Library </strong> was created by <a href="https://github.com/miringan/fullStackLibrary">Michael Iringan</a>,
        <a href="https://github.com/MikiWolfe">Mikayla Bruce</a>, 
        <a href="https://github.com/L-Stew206">Luke Stewart</a>, &
        <a href="https://github.com/emondul">Emma Mondul</a>,
      </p>
      <p>
          Email us with any questions you have at 
          <a href="fullstacklibrary@gmail.com"> We look forward to hearing from you</a>
      </p>
</div>