<div class="contactUs">
    <h1>
        Meet the team: 
    </h1>
    <div class ="contact">
    <p>
        <strong>The FullStack Library </strong> was created by <a class = "contactInfo" href="https://github.com/miringan/fullStackLibrary">Michael Iringan</a>,
        <a class = "contactInfo" href="https://github.com/MikiWolfe">Mikayla Bruce</a>, 
        <a class = "contactInfo"href="https://github.com/L-Stew206">Luke Stewart</a>, &
        <a class = "contactInfo"href="https://github.com/emondul">Emma Mondul</a>
      </p>
      <p>
          Email us with any questions you have at 
          <a class = "contactInfo" href=" mailto: fullstacklibrary@gmail.com"> this email. </a> We look forward to hearing from you! Happy reading!
      </p>
</div>
</div>