<div class="donate row">
    <div class="col-md-6">
<h2 class="header">Donate your books today!</h2>
<form id = "donate-form" class="form donate-form">
<div class="form-group">
<label for="donate-title">Title:</label>
 <input class="form-input" type="text" id="donate-title" />
</div>
<div class="form-group">
<label for="donate-author">Author:</label>
<input class="form-input" type="text" id="donate-author" />
</div>
<div class="form-group">
<label for="donate-genre">Genre:</label>
<input class="form-input" type="text" id="donate-genre" />
</div>        
<div class="form-group">
<button class="btn btn-primary" type="submit">Donate</button>
</div>
</form>
 </div>
 </div>
<img class= "spider" src="/images/spiderman.jpg"> 

<script src="/js/donate.js"></script>

