<div>
    <div class="header">
        <h2>
            Check out what books are in stock
        </h2 <h3 class=>Search for your next book:</h3>
    </div>
    <div class="col-3">
        <form class="search-form" action="/bookInfo">
            <input type="text" id="search-input" name="title" class="form-control" placeholder="Huckelberry Finn">

            {{!-- <button id="searchBtn">search</button> --}}

            <br>
            {{!-- <div class="d-grid gap-2 col-6 w-10"> --}}
                <button id="searchBtn" class="btn btn-danger" type="submit">Search</button>

        </form>
    </div>
        <script src="/js/homepage.js"></script>
</div>