#bg-pic {
  margin: 0;
  min-height: 100vh;
  background-image: url("../images/library.transparent.png");
  background-size: cover;
}
h1 {
  padding: 0.75%;
}

.header {
  padding: 1%;
}

.nav {
  padding-top: 1%;
  font-size: 20px;
}
.donate {
  padding-left: 2%;
}
#book-drop {
  background-image: url("../");
}

.login {
  padding-left: 8%;
}
/* .signup{
  padding-right: 5%;
} */
label {
  font-size: 20px;
}

.spider {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.library {
  padding: 1%;
}

.books {
  border: 3px  rgb(73, 70, 70) solid;
 padding: 0.75%
}

.contactUs {
  background-color: rgb(250, 245, 240);
  padding: 1%;
  }

 .contact {
font-size: 24px;
/* background-color: azure; */
 } 

 .contactInfo{
   color: rgb(182, 7, 7);
 }


